
learner-springmvc-mybatis/target/m2e-wtp/web-resources/META-INF/maven/SpringMVCContainer/learner-springmvc-mybatis/pom.properties
learner-springmvc-mybatis/target/m2e-wtp/web-resources/META-INF/maven/SpringMVCContainer/learner-springmvc-mybatis/pom.properties
*.properties
